{% extends "homepage/base.html" %}
{% block content %}
<div class="aboutsection" style="color:rgb(255, 255, 255);font-family: var(--fontnav);text-shadow:var(--box-shadow2);">
    <h1 style="text-transform: uppercase;
    font-weight:100;font-size:100px;">Music Mania</h1>
    <p class="mb-5" style="text-transform: uppercase;
    font-weight:50;font-size: 20px;text-shadow:none;">
        The one-stop solution for all 
        your music needs.
        <br>Free, 
        unlimited access to over 1Lakh Songs, 
        <br>
        Bollywood Music, English MP3 songs, Regional 
        Music & Kpop hits.
    </p>
    <div class="showcase">
        <img src="https://i.scdn.co/image/ab67616d00001e02ea3ef7697cfd5705b8f47521" alt="song1" class=" " height = "300" width="300">
        <img src="https://i.scdn.co/image/ab67616d00001e029dd7b15113e3d73005713d03" alt="song2" class=" " height = "300" width="300">
    
        <img src="https://i.scdn.co/image/ab67616d00001e024742c21f240a5a1207ff6aea" alt="song3" class=" " height = "300" width="300">
    
        <img src="https://i.scdn.co/image/ab67616d00001e02a0caffda54afd0a65995bbab" alt="song3" class=" " height = "300" width="300">
        <img src="https://i.scdn.co/image/ab67616d00001e02240447f2da1433d8f4303596" alt="song3" class=" " height = "300" width="300">
        <img src="https://i.scdn.co/image/ab67616d00001e0241e31d6ea1d493dd77933ee5" alt="song3" class=" " height = "300" width="300">
    
      

    </div>

</div>
    
        
{% endblock content %}